.arrow {
  background-color: white !important;
  color: gray;
  position: absolute;
  z-index: 100;
  border-radius: 9999px;
  top: 320px;
  border: 1px solid gray;
  opacity: 50%;
  cursor: pointer;
}

.left__arrow {
  left: 50px;
}
.right__arrow {
  right: 50px;
}

.arrow:hover {
  opacity: 100%;
  transition: 0.5s ease;
}

@media (max-width: 576px) {
  .keen-slider__slide {
    width: 400px;
    display: flex;
    padding: 0 12px;
  }
  .keen-slider {
    display: flex;
  }
}
